@charset "UTF-8";

#insert-legend {
	margin-top: 40px;
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}

#insert-div{
	margin: 40px;
}

#insert-button{
	display: inline-block;
	margin-top: 30px;
	float: right;
}