@charset "UTF-8";

@font-face {
  font-family: Jua;
  src: url('../fonts/Jua-Regular.ttf'); 
}

body, legend{
	font-family: 'Jua', sans-serif;
}



#join-legend {
	margin-top: 40px;
	text-align: center;
	font-size: 2em;
	margin-bottom: 20px;
}

#join-div{
	margin: 40px;
}

#join-button{
	display: inline-block;
	margin-top: 30px;
	float: right;
	font-family: 'Jua', sans-serif;
}