@charset "UTF-8";

@font-face {
  font-family: Jua;
  src: url('../fonts/Jua-Regular.ttf'); 
}

body, .navbar, .btn, .dropdown-item{
	font-family: 'Jua', sans-serif;
}

#logout-a{
	color:white;
}

a img{
	width:25px;
	height:25px;
}

#mypage-div1{
	margin: 40px;
}

#mypage-div2{
	margin-top: 40px; 
	text-align: center; 
	font-size: 2em; 
	margin-bottom: 50px;
}

tr th, tr td{
	text-align: center;
}

#itemName{
	word-break: break-all;
	width: 400px;
}

#itemInfo{
	word-break: break-all;
	width: 650px;
}